:root {
  --primary-font-family: "Roboto", sans-serif;
  --secondary-font-family: "Raleway", sans-serif;
  --logo-text-color: #000000;
  --primary-text-color: #212121;
  --tittle-text-color: #757575;
  --light-color: #ffffff;
  --background-color-bnt-light: #f5f4fa;
  --background-color-btn-colored: #188ce8;
  --acent-color: #2196f3;
  --background-color-text: #2f303a;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  font-family: var(--primary-font-family);
  color: var(--primary-text-color);
}

h1,
h2,
h3,
h4,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
  height: auto;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.title {
  margin-bottom: 10px;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

@media screen and (min-width: 0px) and (max-width: 1199.9px) {
  .section {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

.container {
  padding-left: 15px;
  padding-right: 15px;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-family: var(--secondary-font-family);
  font-weight: 700;
  letter-spacing: 0.03em;
  color: var(--acent-color);
  margin-right: 92px;
}

.logo__header {
  color: var(--logo-text-color);
}

@media screen and (min-width: 0px) and (max-width: 767.9px) {
  .nav-list {
    display: none;
  }
  .contact {
    display: none;
  }
  .header {
    position: relative;
    padding-top: 16px;
    padding-bottom: 16px;
  }
  .logo {
    font-size: 24px;
    line-height: 1.16;
  }
  .mobile-menu {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: var(--light-color);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
    overflow: auto;
  }
  .mobile-menu.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
    position: fixed;
    bottom: 0px;
  }
  .mobile-menu__container {
    position: relative;
    padding-top: 48px;
    padding-bottom: 48px;
    padding-left: 40px;
    padding-right: 84px;
    margin-left: auto;
    margin-right: auto;
    background-color: var(--light-color);
    height: 100%;
  }
  .mobile-menu__close-btn {
    position: absolute;
    top: 10px;
    right: 15px;
    background-color: transparent;
    border: none;
    padding: 0;
    line-height: 0;
  }
  .mobile-menu__close-btn:focus .mobile-menu__close-icon {
    fill: var(--acent-color);
  }
  .mobile-menu__close-icon {
    color: #212121;
    cursor: pointer;
  }
  .mobile-menu-btn {
    background-color: transparent;
    border: none;
    padding: 0;
    line-height: 0;
  }
  .mobile-menu-btn:focus .mobile-menu-btn__icon {
    fill: var(--acent-color);
  }
  .mobile-menu__link {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 47px;
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--primary-text-color);
  }
  .mobile-menu__link:focus {
    color: var(--acent-color);
  }
  .mobile-menu__nav-item:not(:last-child) {
    margin-bottom: 32px;
  }
  .mobile-menu__contact-list {
    padding-top: 302px;
    padding-bottom: 64px;
  }
  .mobile-menu__contact-item:not(:last-child) {
    margin-bottom: 32px;
  }
  .mobile-menu__social-list {
    display: flex;
    justify-content: space-between;
    width: 95%;
  }
  .mobile-menu__social-item {
    padding-right: 10px;
  }
  .mobile-menu__social-item:not(:first-child) {
    border-left: 1px solid rgba(33, 33, 33, 0.2);
    padding-left: 10px;
  }
  .mobile-menu__contact-link-tel {
    font-weight: 500;
    font-size: 34px;
    line-height: 40px;
    letter-spacing: 0.02em;
    color: var(--acent-color);
  }
  .mobile-menu__contact-link-mail {
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 0.02em;
    color: var(--tittle-text-color);
  }
  .mobile-menu__social-link {
    font-weight: 500;
    font-size: 18px;
    letter-spacing: 0.02em;
    color: var(--acent-color);
  }
}

@media screen and (min-width: 768px) and (max-width: 1199.9px) {
  .header {
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #ececec;
  }
  .mobile-menu-btn {
    display: none;
  }
  .mobile-menu {
    display: none;
  }
  .logo {
    font-size: 24px;
    line-height: 1.16;
    margin-right: 88px;
  }
  .navigation {
    display: flex;
    align-items: center;
  }
  .nav-list {
    display: flex;
    align-items: center;
  }
  .nav-list__item {
    position: relative;
  }
  .nav-list__item:not(:last-child) {
    margin-right: 50px;
  }
  .nav-list__link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--primary-text-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .nav-list__link:after,
  .nav-list__link .nav-list-link__active::after {
    display: block;
    position: absolute;
    content: "";
    width: 100%;
    height: 4px;
    background-color: var(--acent-color);
    border-radius: 2px;
    left: 0;
    bottom: -33px;
    opacity: 0;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .nav-list__link:hover::after,
  .nav-list__link:focus::after,
  .nav-list-link__active::after {
    opacity: 1;
  }
  .nav-list-link__active {
    color: var(--acent-color);
  }
  .nav-list__link:hover,
  .nav-list__link:focus,
  .contact__link:hover,
  .contact__link:focus {
    color: var(--acent-color);
    cursor: pointer;
  }
  .contact__link {
    display: flex;
    align-items: center;
    fill: var(--tittle-text-color);
    margin-right: 30px;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--tittle-text-color);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .contact__link:hover, .contact__link:focus {
    fill: var(--acent-color);
  }
  .contact__mail-icon,
  .contact__smartphone-icon {
    margin-right: 10px;
  }
  .contact__item {
    margin-bottom: 10px;
  }
}

@media screen and (min-width: 1200px) {
  .mobile-menu-btn {
    display: none;
  }
  .mobile-menu {
    display: none;
  }
  .header {
    padding-top: 24px;
    padding-bottom: 24px;
    border-bottom: 1px solid #ececec;
  }
  .logo {
    font-size: 26px;
    line-height: 1.19;
  }
  .navigation {
    display: flex;
    align-items: center;
  }
  .nav-list {
    display: flex;
    align-items: center;
  }
  .nav-list__item {
    position: relative;
  }
  .nav-list__item:not(:last-child) {
    margin-right: 50px;
  }
  .nav-list__link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--primary-text-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .nav-list__link:after,
  .nav-list__link .nav-list-link__active::after {
    display: block;
    position: absolute;
    content: "";
    width: 100%;
    height: 4px;
    background-color: var(--acent-color);
    border-radius: 2px;
    left: 0;
    bottom: -32px;
    opacity: 0;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .nav-list__link:hover::after,
  .nav-list__link:focus::after,
  .nav-list-link__active::after {
    opacity: 1;
  }
  .nav-list-link__active {
    color: var(--acent-color);
  }
  .nav-list__link:hover,
  .nav-list__link:focus,
  .contact__link:hover,
  .contact__link:focus {
    color: var(--acent-color);
    cursor: pointer;
  }
  .contact {
    display: flex;
    align-items: center;
  }
  .contact__link {
    display: flex;
    align-items: center;
    fill: var(--tittle-text-color);
    margin-right: 30px;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--tittle-text-color);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .contact__link:hover, .contact__link:focus {
    fill: var(--acent-color);
  }
  .contact__mail-icon,
  .contact__smartphone-icon {
    margin-right: 10px;
  }
  .contact__item {
    margin-bottom: 0px;
  }
}

.main-section {
  background-color: var(--background-color-text);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin-left: auto;
  margin-right: auto;
  background-size: cover;
}

.main-section__title {
  margin-bottom: 30px;
  font-weight: 900;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--light-color);
  text-align: center;
}

.main-section__btn {
  display: block;
  min-width: 200px;
  padding: 10px 16px;
  border: 1px solid var(--acent-color);
  border-radius: 4px;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--light-color);
  background-color: var(--acent-color);
}

.decisions-list__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120px;
  background: #f5f4fa;
  border-radius: 4px;
  margin-bottom: 30px;
}

.decisions-list__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-text-color);
}

.decisions-list__text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--tittle-text-color);
}

@media screen and (min-width: 0px) and (max-width: 767.9px) {
  .main-section {
    padding-top: 118px;
    padding-bottom: 198px;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/mobile_img/hero-mobile-image.jpg);
    height: 400px;
  }
}

@media screen and (min-width: 0px) and (max-width: 767.9px) and (min-device-pixel-ratio: 2), screen and (min-width: 0px) and (max-width: 767.9px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 0px) and (max-width: 767.9px) and (min-resolution: 192dpi), screen and (min-width: 0px) and (max-width: 767.9px) and (min-resolution: 2dppx) {
  .main-section {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/mobile_img/hero-mobile-image@2x.jpg");
  }
}

@media screen and (min-width: 0px) and (max-width: 767.9px) {
  .section {
    padding-top: 60px;
  }
  .main-section__title {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    font-size: 26px;
    line-height: 1.61;
    letter-spacing: 0.06em;
  }
  .main-section__btn {
    margin-left: auto;
    margin-right: auto;
  }
  .decisions-list__wrapper {
    width: 100%;
  }
  .decisions-list__item {
    width: 100%;
    padding-bottom: 30px;
  }
  .decisions-list__wrapper-text {
    width: 100%;
  }
  .decisions-list__title {
    text-align: center;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199.9px) {
  .main-section {
    padding-top: 118px;
    padding-bottom: 198px;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/tablet_img/hero-tablet-image.jpg);
    height: 400px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199.9px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (max-width: 1199.9px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (max-width: 1199.9px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (max-width: 1199.9px) and (min-resolution: 2dppx) {
  .main-section {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/tablet_img/hero-tablet-image@2x.jpg");
  }
}

@media screen and (min-width: 768px) and (max-width: 1199.9px) {
  .main-section__title {
    margin-left: 204px;
    margin-right: 204px;
    width: 360px;
    font-size: 26px;
    line-height: 1.61;
  }
  .main-section__btn {
    margin-left: auto;
    margin-right: auto;
  }
  .section {
    padding-top: 60px;
  }
  .decisions-list {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
  }
  .decisions-list__item {
    width: 354px;
    margin-left: 30px;
    margin-bottom: 30px;
  }
  .decisions-list__wrapper {
    width: 354px;
  }
}

@media screen and (min-width: 1200px) {
  .main-section {
    padding-top: 200px;
    padding-bottom: 200px;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/desctop_img/desctop-hero.jpg);
  }
}

@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .main-section {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/desctop_img/desctop-hero@2x.jpg");
  }
}

@media screen and (min-width: 1200px) {
  .main-section__title {
    margin-left: 252px;
    margin-right: 252px;
    width: 696px;
    font-size: 44px;
    line-height: 1.36;
  }
  .main-section__btn {
    margin-left: 500px;
    margin-right: 500px;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .main-section__btn:hover, .main-section__btn:focus {
    background-color: var(--background-color-btn-colored);
  }
  .decisions-list {
    display: flex;
  }
  .decisions-list__item {
    width: 270px;
  }
  .decisions-list__item:not(:last-child) {
    margin-right: 30px;
  }
  .decisions-list__wrapper {
    width: 270px;
  }
}

@media screen and (min-width: 0px) and (max-width: 1199.9px) {
  .about {
    display: none;
  }
}

@media screen and (min-width: 1200px) {
  .about {
    padding-top: 0;
  }
  .about-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--primary-text-color);
    margin-bottom: 50px;
  }
  .about-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .about-list__item {
    position: relative;
  }
  .about-list__text {
    position: absolute;
    width: 370px;
    height: 70px;
    text-transform: uppercase;
    font-weight: 700;
    color: var(--light-color);
    background: rgba(47, 48, 58, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateY(-100%);
  }
}

.section__other-background {
  background-color: #f5f4fa;
}

.section__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  margin-bottom: 50px;
}

.section__item {
  background-color: var(--light-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}

.workers-wrapper {
  padding: 30px 32px;
  text-align: center;
}

.workers-wrapper__title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

.workers-wrapper__text {
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--tittle-text-color);
}

.social-list {
  display: flex;
  justify-content: center;
  margin-top: 16px;
}

.social-list__link {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.social-list__icons {
  fill: #afb1b8;
}

@media screen and (min-width: 0px) and (max-width: 767.9px) {
  .section__title {
    font-size: 28px;
  }
  .section__item:not(:last-child) {
    margin-bottom: 30px;
  }
  .workers-img {
    width: 100%;
  }
  .social-list__items {
    margin-right: 10px;
    margin-bottom: 30px;
  }
  .social-list__icons {
    fill: #afb1b8;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199.9px) {
  .section__list {
    display: flex;
    flex-wrap: wrap;
  }
  .section__item {
    margin-bottom: 30px;
  }
  .section__item:not(:nth-child(2n)) {
    margin-right: 30px;
  }
  .workers-img {
    width: 354px;
    height: 374px;
  }
  .social-list__items:not(:last-child) {
    margin-right: 10px;
  }
  .social-list__link:hover,
  :focus {
    background-color: var(--acent-color);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}

@media screen and (min-width: 1200px) {
  .section__list {
    display: flex;
    flex-wrap: wrap;
  }
  .section__item:not(:nth-child(4n)) {
    margin-right: 30px;
  }
  .social-list__items:not(:last-child) {
    margin-right: 10px;
  }
  .social-list__link:hover,
  :focus {
    background-color: var(--acent-color);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .social-list__icons {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .social-list__link:hover .social-list__icons,
  .social-list__link:focus .social-list__icons {
    fill: var(--light-color);
  }
}

.clients-list {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.clients-link-list:not(:last-child) {
  margin-right: 30px;
}

.clients-title {
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

.clients-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  color: #afb1b8;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-link:hover, .clients-link:focus {
  border-color: var(--acent-color);
}

.clients-icons {
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-link:hover .clients-icons,
.clients-link:focus .clients-icons {
  fill: var(--acent-color);
}

.section-footer {
  background-color: var(--background-color-text);
  padding-top: 60px;
  padding-bottom: 60px;
  padding-left: 15px;
}

.logo-adress-footer {
  margin-right: 70px;
  flex-grow: 1;
}

.footer-logo-margin {
  margin-right: 0;
}

.logo__footer {
  color: var(--light-color);
}

.adress-list {
  margin-top: 20px;
  font-style: normal;
}

.footer-list:not(:last-child) {
  margin-bottom: 9px;
}

.adress-link {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--light-color);
}

.mail-number-link {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.adress {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.adress:hover, .adress:focus {
  color: var(--acent-color);
}

.join-footer {
  margin-right: 92px;
}

.footer-title {
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--light-color);
  margin-bottom: 20px;
}

.social-list-footer {
  display: flex;
}

.social-list__items-footer:not(:last-child) {
  margin-right: 10px;
}

.social-list__link-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-list__link-footer:hover, .social-list__link-footer:focus {
  background-color: var(--acent-color);
}

.social-list__icons-footer {
  fill: var(--light-color);
}

.footer {
  display: flex;
  align-items: baseline;
}

.footer-form {
  position: relative;
}

.form-text {
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--light-color);
  margin-bottom: 20px;
}

.form-input {
  width: 358px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  background-color: rgba(0, 0, 0, 0);
  padding: 16px;
  color: var(--light-color);
}

.subscribe-btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: var(--acent-color);
  width: 200px;
  height: 50px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  margin-left: 12px;
  min-width: 200px;
  padding-top: 10px;
  padding-left: 28px;
  padding-bottom: 10px;
  border: 1px solid var(--acent-color);
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--light-color);
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.subscribe-btn:hover, .subscribe-btn:focus {
  background-color: var(--background-color-btn-colored);
}

.subscribe-btn-icon {
  margin-left: 10px;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  visibility: visible;
  transform: scale(1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 528px;
  height: 580px;
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding: 40px;
}

.modal-close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  background-color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  border-radius: 50%;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  outline: none;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn:hover, .modal-close-btn:focus {
  fill: var(--acent-color);
}

.contact-form-text {
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 0.03em;
  margin-bottom: 12px;
}

.contact-form-field {
  display: block;
  font-weight: 400;
  font-size: 12px;
  margin-bottom: 10px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: var(--tittle-text-color);
}

.contact-form-input-wrapper {
  display: block;
  position: relative;
  margin-top: 4px;
}

.contact-form-input {
  width: 100%;
  height: 40px;
  outline: none;
  padding-left: 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-form-input:hover, .contact-form-input:focus {
  border-color: var(--acent-color);
}

.form-contact-icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-form-input:hover + .form-contact-icon,
.contact-form-input:focus + .form-contact-icon {
  fill: var(--acent-color);
}

.contact-form-message {
  display: block;
  width: 100%;
  height: 120px;
  margin-top: 4px;
  padding: 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
  outline: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-form-message:hover, .contact-form-message:focus {
  border-color: var(--acent-color);
}

.contact-form-checkbox-label {
  font-size: 14px;
  color: var(--tittle-text-color);
  display: flex;
  align-items: center;
  justify-content: center;
  letter-spacing: 0.03em;
}

.contact-form-checkbox-label::before {
  content: '';
  display: inline-block;
  width: 16px;
  height: 16px;
  border: 2px solid #212121;
  border-color: var(--primary-text-color);
  border-radius: 2px;
  cursor: pointer;
  margin-right: 8px;
}

.contact-form-checkbox:checked + .contact-form-checkbox-label::before {
  background-color: var(--acent-color);
  border: var(--acent-color);
  background-image: url("../images/svg/check_icon.svg");
}

.contact-form-link {
  color: var(--acent-color);
  letter-spacing: 0.03em;
  margin-left: 4px;
}

.contact-form-submit-btn {
  display: block;
  min-width: 200px;
  padding: 10px 56px;
  margin-top: 30px;
  margin-right: auto;
  margin-left: auto;
  border: 1px solid var(--acent-color);
  border-radius: 4px;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  color: var(--light-color);
  background-color: var(--acent-color);
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-form-submit-btn:hover, .contact-form-submit-btn:focus {
  background-color: var(--background-color-btn-colored);
}

@media screen and (min-width: 0px) and (max-width: 767.9px) {
  .modal {
    width: 95%;
    height: 609px;
  }
  .contact-form-text {
    text-align: center;
    line-height: 30px;
  }
  .contact-form-checkbox-label {
    font-size: 12px;
  }
}
/*# sourceMappingURL=main.css.map */