:root {
    --primary-font-family: "Roboto", sans-serif;
    --secondary-font-family: "Raleway", sans-serif;
    --logo-text-color: #000000;
    --primary-text-color: #212121;
    --tittle-text-color: #757575;
    --light-color: #ffffff;
    --background-color-bnt-light: #f5f4fa;
    --background-color-btn-colored: #188ce8;
    --acent-color: #2196f3;
    --background-color-text: #2f303a;
}