.section__other-background {
    background-color: #f5f4fa;
}

.section__title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--primary-text-color);
    margin-bottom: 50px;
}

.section__item {
    background-color: var(--light-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
}

.workers-wrapper {
    padding: 30px 32px;
    text-align: center;
}

.workers-wrapper__title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--primary-text-color);
}

.workers-wrapper__text {
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--tittle-text-color);
}

.social-list {
    display: flex;
    justify-content: center;
    margin-top: 16px;
}
.social-list__link {
    width: 44px;
    height: 44px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.social-list__icons {
    fill: #afb1b8;

}

@media screen and (min-width:0px) and (max-width:767.9px) 
{
.section__title {
    font-size: 28px;}

.section__item:not(:last-child){
    margin-bottom: 30px;
}

.workers-img{
    width: 100%;
}

.social-list__items {
    margin-right: 10px;
    margin-bottom: 30px;
}

.social-list__icons {
    fill: #afb1b8;

}
}


@media screen and (min-width:768px) and (max-width:1199.9px) {

.section__list {
    display: flex;
    flex-wrap: wrap;
}

.section__item {
    margin-bottom: 30px;

&:nth-last-child(-n+2){
    margin-bottom: 0px;
}
}

.section__item:not(:nth-child(2n)) {
    margin-right: 30px;
}

.workers-img {
    width: 354px;
    height: 374px;
}


.social-list__items:not(:last-child) {
    margin-right: 10px;
}

}


@media screen and (min-width:1200px) {

.section__list {
    display: flex;
    flex-wrap: wrap;
}

.section__item:not(:nth-child(4n)) {
        margin-right: 30px;

    }


.social-list__items:not(:last-child) {
    margin-right: 10px;
}

.social-list__link:hover,
:focus {
    background-color: var(--acent-color); 
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.social-list__icons {

    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

    .social-list__link:hover &,
    .social-list__link:focus & {
        fill: var(--light-color);
    }
}
}
