.about {
    padding-top: 0;
}

.about-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--primary-text-color);
    margin-bottom: 50px;
}

.about-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.about-list__item {
    position: relative;
}

.about-list__text {
    position: absolute;
    width: 370px;
    height: 70px;
    text-transform: uppercase;
    font-weight: 700;
    color: var(--light-color);
    background: rgba(47, 48, 58, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateY(-100%);

}



