
.footer {
    display: flex;
    align-items: baseline;
}

.section-footer {
    background-color: var(--background-color-text);
    padding-top: 60px;
    padding-bottom: 60px;

}

.footer-logo-margin {
    margin-right: 0;
}

.logo__footer {
    color: var(--light-color);
}

.adress-list {
    font-style: normal;
}

.adress-link {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--light-color);
}

.mail-number-link {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
}

.footer-title {
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--light-color);
    margin-bottom: 20px;
}

.social-list-footer {
    display: flex;
}

.social-list__link-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.1);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-list__icons-footer {
    fill: var(--light-color);
}

.social-list__items-footer:not(:last-child) {
    margin-right: 10px;
}

.form-text {
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--light-color);
    margin-bottom: 20px;
}

.form-input {
    height: 50px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 4px;
    background-color: rgba(0, 0, 0, 0);
    padding: 16px;
    color: var(--light-color);
}

.subscribe-btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: var(--acent-color);
    width: 200px;
    height: 50px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    min-width: 200px;
    padding-top: 10px;
    padding-left: 28px;
    padding-bottom: 10px;
    border: 1px solid var(--acent-color);
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    color: var(--light-color);
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width:0px) and (max-width:767.9px)
{
.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}


.logo-adress-footer{
    margin-bottom: 60px;
}
.adress-list{
    text-align: center;
    margin-top: 20px;
}

.footer-list:not(:last-child) {
    margin-bottom: 8px;
}

.footer-title{
    text-align: center;
}

.join-footer {
    margin-bottom: 60px;
}

.social-list-footer{
    justify-content: center;
}


.footer-form{
    display: flex;
    flex-direction: column;
    align-items: center;

}


.form-input{
    margin-bottom: 20px;
    width: 95vw;
}

.subscribe-btn-icon {
    margin-left: 10px;
}
}

@media screen and (min-width:768px) and (max-width:1199.9px) {

    .section-footer {
    padding-top: 65px;
    }

    .footer {
    display: flex;
    flex-direction: column;
}

.adress-join-wrapper{
    display: flex;
    justify-content: space-around;
    text-align: center;
    margin-bottom: 60px;
    width: 100%;
    align-items: baseline;
}

.adress-list{
    margin-top: 20px;
}

.join-footer {
    text-align: center;
}

    .footer-form {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-right: auto;
        margin-left: auto;

    }

    .form-input {
        margin-bottom: 20px;
        width: 450px;
    }

    .subscribe-btn-icon {
        margin-left: 10px;
    }

}

@media screen and (min-width:1200px){

.adress-join-wrapper{
        display: flex;
    }

.logo-adress-footer {
    margin-right: 70px;
    flex-grow: 1;
}

.footer-list:not(:last-child) {
    margin-bottom: 9px;
}


.adress {
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        color: var(--acent-color);
    }
}

.adress-list {
    margin-top: 20px;
}

.join-footer {
    margin-right: 167px;
    margin-right: 92px;
}


.social-list__items-footer:not(:last-child) {
    margin-right: 10px;
}

.social-list__link-footer:hover,
.social-list__link-footer:focus {
        background-color: var(--acent-color);
    }


.social-list__icons-footer {
    fill: var(--light-color);
}


.form-text {
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--light-color);
    margin-bottom: 20px;
}

.form-input {
    margin-bottom: 20px;
    width: 358px;
}
.subscribe-btn{
    margin-left: 12px;

&:hover,
&:focus {
    background-color: var(--background-color-btn-colored);
}
}

.subscribe-btn-icon {
    margin-left: 10px;
}
}
