.header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-family: var(--secondary-font-family);
    font-weight: 700;
    letter-spacing: 0.03em;
    color: var(--acent-color);
    margin-right: 92px;
}

.logo__header {
    color: var(--logo-text-color);
}


// <480px

@media screen and (min-width:0px) and (max-width:767.9px)
{
.nav-list{
    display: none;
}

.contact{
    display: none;
}

.header{
    position: relative;
    padding-top: 16px;
    padding-bottom: 16px;
}

.logo {
    font-size: 24px;
    line-height: 1.16;
}

.mobile-menu{
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: var(--light-color);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
    overflow: auto;
}

.mobile-menu.is-open{
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.mobile-menu__container{
    position: relative;
    padding-top: 48px;
    padding-bottom: 48px;
    padding-left: 40px;
    padding-right: 84px;
    margin-left: auto;
    margin-right: auto;
    background-color: var(--light-color);
    height: 100%;


}

.mobile-menu__close-btn {
    position: absolute;
    top: 10px;
    right: 15px;
    background-color: transparent;
    border: none;
    padding: 0;
    line-height: 0;

    &:focus .mobile-menu__close-icon {
        fill: var(--acent-color);
    }
}

.mobile-menu__close-icon {
    color: #212121;
    cursor: pointer;
}

.mobile-menu-btn{
    background-color: transparent;
    border: none;
    padding: 0;
    line-height: 0;

    &:focus .mobile-menu-btn__icon {
        fill: var(--acent-color);
    }
}

.mobile-menu__link{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 47px;
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--primary-text-color);

    &:focus{
        color: var(--acent-color);
    }
    }

.mobile-menu__nav-item:not(:last-child){
    margin-bottom: 32px;
}

.mobile-menu__contact-list{
    padding-top: 302px;
    padding-bottom: 64px;
}

.mobile-menu__contact-item:not(:last-child){
    margin-bottom: 32px;
}

.mobile-menu__social-list {
    display: flex;
    justify-content: space-between;
}

.mobile-menu__social-item{
    padding-right: 10px;
}
.mobile-menu__social-item:not(:first-child) {
    border-left: 1px solid rgba(33, 33, 33, 0.2);
    padding-left: 10px;
}


.mobile-menu__contact-link-tel {
    font-weight: 500;
    font-size: 34px;
    line-height: 40px;
    letter-spacing: 0.02em;
    color: var(--acent-color);
}

.mobile-menu__contact-link-mail {
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 0.02em;
    color: var(--tittle-text-color);
}


.mobile-menu__social-link{
    font-weight: 500;
    font-size: 18px;
    letter-spacing: 0.02em;
    color: var(--acent-color);
}
}

//768px+

@media screen and (min-width:768px) and (max-width: 1200px) 
{
.header {
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #ececec;
}

.mobile-menu-btn{
    display: none;
}

.mobile-menu{
    display: none;
}

.logo {
    font-size: 24px;
    line-height: 1.16;
    margin-right: 88px;
}

.navigation{
    display: flex;
    align-items: center;
}

.nav-list{
    display: flex;
    align-items: center;
}

.nav-list__item {
    position: relative;

    &:not(:last-child) {
        margin-right: 50px;
    }
}

.nav-list__link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--primary-text-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:after,
    .nav-list-link__active::after {
    display: block;
    position: absolute;
    content: "";
    width: 100%;
    height: 4px;
    background-color: var(--acent-color);
    border-radius: 2px;
    left: 0;
    bottom: -33px;
    opacity: 0;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
}

.nav-list__link:hover::after,
.nav-list__link:focus::after,
.nav-list-link__active::after {
    opacity: 1;
}

.nav-list-link__active {
    color: var(--acent-color);
}

.nav-list__link:hover,
.nav-list__link:focus,
.contact__link:hover,
.contact__link:focus {
    color: var(--acent-color);
    cursor: pointer;
}

.contact__link {
    display: flex;
    align-items: center;
    fill: var(--tittle-text-color);
    margin-right: 30px;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--tittle-text-color);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
        color 250ms cubic-bezier(0.4, 0, 0.2, 1);

        &:hover,
        &:focus {
        fill: var(--acent-color);
        }
}

.contact__mail-icon,
.contact__smartphone-icon {
    margin-right: 10px;
} 

.contact__item{
    margin-bottom: 10px;
}

}


// 1200px +

@media screen and (min-width:1200px) 
{

.mobile-menu-btn{
    display: none;
}

.mobile-menu{
    display: none;
}

.header {
    padding-top: 24px;
    padding-bottom: 24px;
    border-bottom: 1px solid #ececec;
}

.logo {
    font-size: 26px;
    line-height: 1.19;
}

.navigation {
    display: flex;
    align-items: center;
}

.nav-list {
    display: flex;
    align-items: center;
}

.nav-list__item {
    position: relative;

    &:not(:last-child) {
        margin-right: 50px;
    }
}

.nav-list__link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--primary-text-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:after,
    .nav-list-link__active::after {
        display: block;
        position: absolute;
        content: "";
        width: 100%;
        height: 4px;
        background-color: var(--acent-color);
        border-radius: 2px;
        left: 0;
        bottom: -32px;
        opacity: 0;
        transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
}

.nav-list__link:hover::after,
.nav-list__link:focus::after,
.nav-list-link__active::after {
    opacity: 1;
}

.nav-list-link__active {
    color: var(--acent-color);
}

.nav-list__link:hover,
.nav-list__link:focus,
.contact__link:hover,
.contact__link:focus {
    color: var(--acent-color);
    cursor: pointer;
}

.contact {
    display: flex;
    align-items: center;
}

.contact__link {
    display: flex;
    align-items: center;
    fill: var(--tittle-text-color);
    margin-right: 30px;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--tittle-text-color);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
        color 250ms cubic-bezier(0.4, 0, 0.2, 1);

        &:hover,
        &:focus {
        fill: var(--acent-color);
        }
}

.contact__mail-icon,
.contact__smartphone-icon {
    margin-right: 10px;
} 
.contact__item{
    margin-bottom: 0px;
}
}

