.main-section {
    background-color: var(--background-color-text);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin-left: auto;
    margin-right: auto;
    background-size: cover;
}


.main-section__title {
    margin-bottom: 30px;
    font-weight: 900;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--light-color);
    text-align: center;
}

.main-section__btn {
    display: block;
    min-width: 200px;
    padding: 10px 16px;
    border: 1px solid var(--acent-color);
    border-radius: 4px;
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    color: var(--light-color);
    background-color: var(--acent-color);
}

.decisions-list__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 120px;
    background: #f5f4fa;
    border-radius: 4px;
    margin-bottom: 30px;
}

.decisions-list__title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--primary-text-color);
}

.decisions-list__text {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--tittle-text-color);
}


//0px-767px
@media screen and (min-width:0px) and (max-width:767.9px) 
{

.main-section {
    padding-top: 118px;
    padding-bottom: 198px;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)),
        url(../images/mobile_img/hero-mobile-image.jpg);
    height: 400px;
}

@media (min-device-pixel-ratio: 2),
(-webkit-min-device-pixel-ratio: 2),
(min-resolution: 192dpi),
(min-resolution: 2dppx) {
    .main-section {
    background-image:linear-gradient(rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)), 
        url('../images/mobile_img/hero-mobile-image@2x.jpg');
}
}

.section{
    padding-top: 60px;
}

.main-section__title {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    font-size: 26px;
    line-height: 1.61;
    letter-spacing: 0.06em;
}

.main-section__btn {
    margin-left: auto;
    margin-right: auto;
}

.decisions-list__wrapper {
    width: 100%;
}

.decisions-list__item {
    width: 100%;
    padding-bottom: 30px;
}

.decisions-list__wrapper-text{
    width: 100%;
}

.decisions-list__title {
    text-align: center;

}
}


//767px-1200px

@media screen and (min-width:768px) and (max-width:1199.9px)
{

    .main-section {
    padding-top: 118px;
    padding-bottom: 198px;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)),
        url(../images/tablet_img/hero-tablet-image.jpg);
    height: 400px;
}

@media (min-device-pixel-ratio: 2),
(-webkit-min-device-pixel-ratio: 2),
(min-resolution: 192dpi),
(min-resolution: 2dppx) {
    .main-section {
        background-image:linear-gradient(rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)),
            url('../images/tablet_img/hero-tablet-image@2x.jpg');
    }
}

.main-section__title {
    margin-left: 204px;
    margin-right: 204px;
    width: 360px;
    font-size: 26px;
    line-height: 1.61;
}

.main-section__btn {
    margin-left: auto;
    margin-right: auto;
}

.section {
    padding-top: 60px;
}

.decisions-list {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
}

.decisions-list__item {
    width: 354px;
    margin-left: 30px;
    margin-bottom: 30px;
}

.decisions-list__wrapper {
    width: 354px;
}
}


// 1200px+

@media screen and (min-width:1200px){

.main-section {
    padding-top: 200px;
    padding-bottom: 200px;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)),
        url(../images/desctop_img/desctop-hero.jpg);
}

@media (min-device-pixel-ratio: 2),
(-webkit-min-device-pixel-ratio: 2),
(min-resolution: 192dpi),
(min-resolution: 2dppx) {
    .main-section {
        background-image:linear-gradient(rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)),
            url('../images/desctop_img/desctop-hero@2x.jpg');
    }
}

.main-section__title {
    margin-left: 252px;
    margin-right: 252px;
    width: 696px;
    font-size: 44px;
    line-height: 1.36;
}

.main-section__btn {
    margin-left: 500px;
    margin-right: 500px;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        background-color: var(--background-color-btn-colored);
    }
}

.decisions-list {
    display: flex;
}

.decisions-list__item {
    width: 270px;

    &:not(:last-child) {
        margin-right: 30px;
    }
}

.decisions-list__wrapper {
    width: 270px;
}
}