.portfolio-btn-list {
    display: flex;
    margin-bottom: 50px;
    justify-content: center;
}

.btn-list {
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    letter-spacing: 0.03em;
    color: var(--primary-text-color);
    background-color: var(--background-color-bnt-light);
    cursor: pointer;
    border-radius: 4px;
    border: 1px solid var(--background-color-bnt-light);
    padding: 6px 22px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1),
        border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        background-color: var(--acent-color);
        color: var(--light-color);
        box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
        0px 2px 2px rgba(0, 0, 0, 0.12);
        border-color: var(--acent-color);
        }
}

.portfolio-list:not(:last-child) {
    margin-right: 8px;
}

.examples-list {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
    margin-top: -30px;
}

.examples {
    margin-left: 30px;
    margin-top: 30px;
}

.portfolio-examples-link {
    display: block;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
        1px 4px 6px rgba(0, 0, 0, 0.16);
    }
}

    .portfolio-examples-link:hover .overlay,
    .portfolio-examples-link:focus .overlay {
        transform: translateY(0%);
    }
    
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: var(--light-color);
    background: rgba(33, 150, 243, 0.9);
    padding: 63px 24px;
    line-height: 28px;
    letter-spacing: 0.03em;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    overflow: auto;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.examples-img-list-wrapper {
    position: relative;
    overflow: hidden;
}

.examples-title-text {
    padding: 20px 24px;
    border-right: 1px solid #eeeeee;
    border-left: 1px solid #eeeeee;
    border-bottom: 1px solid #eeeeee;
}

.examples-title {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--primary-text-color);
    margin-bottom: 4px;
}

.examples-text {
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em;
    color: var(--tittle-text-color);
}